---
import Layout from '../layouts/LayoutDrawer.astro';
// import '../styles.css'

let a = 3;
---

<Layout title="Drawer Demo">
  <p id="label" class="m-4 center">This is a drawer demo.</p>

  <div>
    a = {a}
  </div>

  <button id="btn1" class="btn btn-primary">Button</button>
</Layout>

<script>
  import * as Hammer from 'hammerjs';
  // import 'hammerjs';

  window.onload = (event) => {
    console.log('page is fully loaded');

    var body = document.getElementsByName('body');
    // let myElement = document.getElementById('label');

    var hammertime = new Hammer(document.body, {});
    // hammertime.get('swipe').set({ direction: Hammer.DIRECTION_HORIZONTAL });

    hammertime.on('swipeleft', (e: any) => {
      // console.log('swiping left!')
      // close drawer
      let el = document.getElementById('my-drawer') as HTMLInputElement;
      el.checked = false;
    });
    hammertime.on('swiperight', (e: any) => {
      // console.log('swiping right!')
      // open drawer
      let el = document.getElementById('my-drawer') as HTMLInputElement;
      el.checked = true;
    });
  };

  // console.log('are we alive?');

  const btn = document.querySelector('#btn1') as Element;
  btn.addEventListener('click', () => {
    console.log('button clicked');
  });
</script>
