---
import Layout from '../layouts/LayoutDrawer.astro';
import '../styles.css'

let a = 3;
---
<Layout title="Drawer Demo">

<p class="m-4">This is a drawer demo.</p>

<button class="btn btn-primary">Button</button>

</Layout>
